.about-section{
    margin-top: 90px;
    
    padding: 50px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: white;
    margin-bottom: 30px;
    height: 500px;
}
.picture{
    border-radius: 50%;
}
.para{
    text-align: center;
    padding: 15px;
    line-height: 35px;
    font-size: 22px;
    margin-left: 10px;
   
}
.surbhi{
    font-size: 40px;
   
}

@media screen and (max-width:720px) {

.about-section{
    margin-top: 90px;
    
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 2px;
    color: white;
    margin-bottom: 30px;
    height: 100%;
   
   
}
.para{
  
  width: 90%;
    padding: 15px;
    font-size: 20px;
    line-height: 25px;
   margin-left: 0px;
   
   
   
}
.surbhi{
    font-size: 30px;
   
}
.picture{
    
    height: 13rem;
}
    
}
