.contact-box{
  
    margin-top: 96px;
    height: 400px;
    width: 50%;
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content:center;
    align-items:center;
   margin-bottom: 40px;
     
     margin-left: auto;
     margin-right: auto;
}
.st-box{
   
    text-align: center;
    color: white;

}
h2{
    font-size: 30px;
   
   
}
.nd-box{
   
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    gap: 10px;
  
    
  
    
}
input,textarea{
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 15px;
     width: 60%;
}