.main-cards{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 20px;
}

.cards{
   
    height: 430px;
    width: 100%;
    max-width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 9px white;
    margin: 15px;
  padding: 5px;
    text-align: center;
    color: black;
    background-color: aliceblue;
    cursor: pointer;
    transition:  all 0.2s ease-in-out ;
    display: flex;
    flex-direction: column;
   
   
    
}

.visit-btn{
    border: 2px solid black;
      background-color:#8CFF32;
    width: 150px;
    align-self: center;
    margin-top: auto;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
   
    
}

.cards:hover{

    border-radius: 30px;
   
}
.pro-head{
   
    margin-top: 7rem;
    text-align: center;
    font-size: 30px;
    color: white;
}
.pro-img{

   width:100%;
  height: 200px;
 border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}

@media screen and ( max-width:720px) {
    

.main-cards{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
   
    margin-bottom: 25px;
    padding: 10px;
}
.cards{
   
    height: auto;
    width: 80%;
    max-width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 9px white;
    margin: 10px;
  padding: 5px;
    text-align: center;
    color: black;
    background-color: aliceblue;
    cursor: pointer;
    transition:  all 0.2s ease-in-out ;
    display: flex;
    flex-direction: column;
   
   
    
}
.visit-btn{
    
    width: 50%;
    align-self: center;
    margin-top: 5px;
    
   
   
    
}
.pro-img{
    height: 100%;
}
.pro-head{
    font-size: 20px;
}

}

